.cart-container {
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-grid {
    display: none;
    /* hidden initially */
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.cart-card {
    background: var(--white-color);
    padding: 15px;
    border-radius: var(--border-radius-m);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Tablets & small screens */
@media screen and (max-width: 768px) {
    .cart-container {
        margin: 80px 15px;
        padding: 15px;
    }

    .cart-card {
        padding: 12px;
    }
}

/* Mobile phones */
@media screen and (max-width: 480px) {
    .cart-container {
        margin: 70px 10px;
        padding: 10px;
    }

    .cart-card {
        padding: 10px;
    }
}