.wishlist-container {
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wishlist-grid {
    display: none;
    /* hidden initially */
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.wishlist-card {
    background: var(--white-color);
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.wish-icon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    vertical-align: middle;
}


/* Tablets & small screens */
@media screen and (max-width: 768px) {
    .wishlist-container {
        margin: 80px 15px;
        padding: 15px;
    }

    .wishlist-card {
        padding: 12px;
    }
}

/* Mobile phones */
@media screen and (max-width: 480px) {
    .wishlist-container {
        margin: 70px 10px;
        padding: 10px;
    }

    .wishlist-card {
        padding: 10px;
    }

    .wish-icon {
        width: 22px;
        height: 22px;
    }
}